.block_calendar{
    p{
        text-align: center;
    }
    .nothing{
        height: 45px;
        width: 45px;
        border-radius: 100px;
        margin: 0 auto;
        display: block;
    }
}