.block_meditation{
    padding: 38px 18px;
    border-radius: 12px;
    img{
        margin: 0 17px;
        width: 120px;
    }
    h2{
        font-size: 16px;
        text-align: center;
        font-weight: 700;
        margin: 12px 0;
    }
    p{
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }
}