.best,
.good,
.norm,
.bad,
.angry,
.work {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 16px;
  margin: 8px;
  p {
    display: inline;
  }
}
.lite {
  .best {
    background-color: #ffe678a6;
    border: 1px solid #ffe678a6;
    p {
      color: #87772f !important;
    }
  }
  .good {
    background-color: #c2eab7a6;
    border: 1px solid #c2eab7a6;
    p {
      color: #4b6544 !important;
    }
  }
  .norm {
    background-color: #cecece;
    border: 1px solid #cecece;
    p {
      color: #181818 !important;
    }
  }
  .bad {
    background-color: #83adff;
    border: 1px solid #83adff;
    p {
      color: #131313 !important;
    }
  }
  .angry {
    background-color: #ffa4a6;
    border: 1px solid #ffa4a6;
    p {
      color: #181818 !important;
    }
  }
  .work {
    background-color: #9290a7;
    border: 1px solid #9290a7;
    p {
      color: #fff !important;
    }
  }
}
.dark {
  .best {
    background-color: #c9a919;
    border: 1px solid #c9a919;
    p {
      color: #181818 !important;
    }
  }
  .good {
    background-color: #c2eab7a6;
    border: 1px solid #c2eab7a6;
    p {
      color: #000000 !important;
    }
  }
  .norm {
    background-color: #9b9b9b;
    border: 1px solid #9b9b9b;
    p {
      color: #181818 !important;
    }
  }
  .bad {
    background-color: #2b54a6d5;
    border: 1px solid #2b54a6d5;
    p {
      color: #eeeeee !important;
    }
  }
  .angry {
    background-color: #a63539d3;
    border: 1px solid #a63539d3;
    p {
      color: #eeeeee !important;
    }
  }
  .work {
    background-color: #71707d;
    border: 1px solid #71707d;
    p {
      color: #eeeeee !important;
    }
  }
}
