.block_therapists{
    width: 190px;
    border-radius: 12px;
    padding: 12px;
    img{
        margin: -12px  0 0 -12px;
        width: 190px;
    }
    .grey_p{
        font-size: 14px;
        margin: 8px 0 16px 0;
    }
    div{
        p{
            font-size: 12px;
        }
    }
}