* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 425px;
  display: block;
  margin: auto;
  @font-face {
    font-family: "NotoSans";
    src: local("NotoSans"), url(../fonts/NotoSans.woff) format("woff");
  }
  @font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa"), url(../fonts/Comfortaa.woff) format("woff");
  }
  p, h1, h2, a, li {
    font-family: "NotoSans", sans-serif;
  }
}
