.loading{
    img{
        display: block;
        margin: 100px auto 0 auto;
    }
    p{
        font-family: "Comfortaa", sans-serif !important;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
    }
}